# 1) Importing Libraries and Scrapping Data

In [1]:
#Importing Header Files
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
from datetime import datetime
warnings.filterwarnings("ignore")

In [4]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import os

#os.chdir(default_path)

In [5]:
#Fetching data using the API 
url = "https://beacon.vaisala.com/api/?d=S1820525&k=170789f0b57a4636807fe861bb8dcdef&t0=2020-08-24T00:00:00&t1=2020-08-28T23:59:59"
html = urlopen(url)

In [6]:
soup = BeautifulSoup(html, 'lxml')
type(soup)

bs4.BeautifulSoup

In [7]:
# Get the title
title = soup.title
print(title)

None

In [8]:
text = soup.get_text()

In [9]:
type(text)

str

In [10]:
#text

# 2) Data Preprocessing: Converted unstructured scrapped data into structured dataframe

In [11]:
#spliting unstrutured AQ data over delimiter \n
airdata = []
split_api_data = text.split('\n')
airdata = list(filter(None, split_api_data))

In [12]:
#airdata

In [13]:
#Removing unwanted info such as address and coordinates and columns labels which are predefined

del airdata[0:6]
list_to_remove = ["NO2","CO","O3","NO","PM2.5","PM10","Air Temp.","Air Hum.","Air Pres."]
filtered_list= [ele for ele in airdata if ele not in list_to_remove]

In [14]:
#generating ordered list representing pollutants and pm2.5 and pm10 values

filtered_list
filtered_list_pollutant_data = filtered_list[1::2]

#storing unique timestamp date
filtered_list_timestamp = list(sorted(set(filtered_list[0::2]), key=filtered_list.index))

In [49]:
#filtered_list_pollutant_data

In [50]:
#filtered_list_timestamp

In [51]:
#airdata

In [18]:
temp_list_pollutant = np.array_split(filtered_list_pollutant_data,len(filtered_list_timestamp))
#print(temp_list_pollutant)

In [19]:
temp_list_timestamp = np.array_split(filtered_list_timestamp,len(filtered_list_timestamp))
#print(temp_list_timestamp)

In [20]:
#concatenating filtered list of pollutants with list contining unique timestamps
final_list = []

for i in range(len(temp_list_timestamp)):
    final_list.append(list(temp_list_pollutant[i]) + list(temp_list_timestamp[i]))

#final_list

In [21]:
#storing filtered preprocessed values into a dataframe
header = ['NO2','CO','O3','NO','PM2.5','PM10','Air Temp','Air Hum','Air Pres','Timestamp']
air_quality_filtered_df = pd.DataFrame(columns=header, data=final_list)

In [22]:
#air_quality_filtered_df

In [196]:
air_quality_filtered_df.to_csv ('master_preprocessed_df_aq.csv', index = False, header=True)

# 3) Feature Engineering: Spliting Timestamp and Generating 'C' which is the pollutant concentration value

In [23]:
#spliting timestamp into day, month, year
air_quality_filtered_df['Timestamp'] =  pd.to_datetime(air_quality_filtered_df['Timestamp'])
air_quality_filtered_df['Year'] = air_quality_filtered_df['Timestamp'].dt.year
air_quality_filtered_df['Month'] = air_quality_filtered_df['Timestamp'].dt.month
air_quality_filtered_df['Day'] = air_quality_filtered_df['Timestamp'].dt.day
#air_quality_filtered_df['Dayofweek'] = air_quality_filtered_df['Timestamp'].dt.dayofweek
air_quality_filtered_df['Dayofweek'] = air_quality_filtered_df['Timestamp'].dt.day_name()

air_quality_filtered_df['Hour'] = air_quality_filtered_df['Timestamp'].dt.hour
air_quality_filtered_df['Minute'] = air_quality_filtered_df['Timestamp'].dt.minute
air_quality_filtered_df['Second'] = air_quality_filtered_df['Timestamp'].dt.second

In [24]:
air_quality_filtered_df['Timestamp'] = pd.to_datetime(air_quality_filtered_df['Timestamp'])

In [25]:
air_quality_filtered_df["PM2.5"] = pd.to_numeric(air_quality_filtered_df["PM2.5"])

In [27]:
#air_quality_filtered_df

In [201]:
#index_names = air_quality_filtered_df[air_quality_filtered_df['Dayofweek'] == ('Saturday')].index
#air_quality_filtered_df.drop(index_names, inplace = True) 

#index_names

In [28]:
#Gnerating Rolling Index Mean to find the 'C value'
ptr = 0
ptr2 = 0
master_preprocessed_df_aq = pd.DataFrame()
master_preprocessed_df_aq = master_preprocessed_df_aq.iloc[0:0]

for i in range(0,air_quality_filtered_df.shape[0]):
    cal_window_df = air_quality_filtered_df[ptr:ptr+60] 
    mean_c_min = cal_window_df["PM2.5"].mean() 
    cal_window_df['C'] = mean_c_min
    master_preprocessed_df_aq = master_preprocessed_df_aq.append(cal_window_df, ignore_index = True) 
    cal_window_df = cal_window_df.iloc[0:0]
    ptr = ptr + 60

In [29]:
print(air_quality_filtered_df.Day.unique())
print(master_preprocessed_df_aq.Day.unique())

[24 25 26 27 28]
[24 25 26 27 28]

In [52]:
#master_preprocessed_df_aq

In [31]:
master_preprocessed_df_aq.loc[1440]

NO2                        0.002
CO                         0.053
O3                         0.035
NO                         0.016
PM2.5                        0.5
PM10                         2.5
Air Temp                    28.5
Air Hum                     82.1
Air Pres                    1014
Timestamp    2020-08-25 00:00:23
Year                        2020
Month                          8
Day                           25
Dayofweek                Tuesday
Hour                           0
Minute                         0
Second                        23
C                       0.876667
Name: 1440, dtype: object

In [53]:
#master_preprocessed_df_aq

In [133]:
#master_preprocessed_df_aq['C'] = master_preprocessed_df_aq.C.astype('float')
#master_preprocessed_df_aq.to_csv ('AirQuality Week 1-16/week_3_df_aq.csv', index = False, header=True)

# 4) Generating Features relevant for calculating AQI index

In [33]:
# Set a default value for Clow
master_preprocessed_df_aq['Clow'] = 350.5
master_preprocessed_df_aq['Clow'][(master_preprocessed_df_aq['C'] >= 0) & (master_preprocessed_df_aq['C'] <= 12)] = 0
master_preprocessed_df_aq['Clow'][(master_preprocessed_df_aq['C'] >= 12.1) & (master_preprocessed_df_aq['C'] <= 35.4)] = 12.1
master_preprocessed_df_aq['Clow'][(master_preprocessed_df_aq['C'] >= 35.5) & (master_preprocessed_df_aq['C'] <= 55.4)] = 35.5
master_preprocessed_df_aq['Clow'][(master_preprocessed_df_aq['C'] >= 55.5) & (master_preprocessed_df_aq['C'] <= 150.4)] = 55.5
master_preprocessed_df_aq['Clow'][(master_preprocessed_df_aq['C'] >= 150.5) & (master_preprocessed_df_aq['C'] <= 250.4)] = 150.5
master_preprocessed_df_aq['Clow'][(master_preprocessed_df_aq['C'] >= 250.5) & (master_preprocessed_df_aq['C'] <= 350.4)] = 250.5

In [34]:
# Set a default value for Chigh
master_preprocessed_df_aq['Chigh'] = 500.4
master_preprocessed_df_aq['Chigh'][(master_preprocessed_df_aq['C'] >= 0) & (master_preprocessed_df_aq['C'] <= 12)] = 12
master_preprocessed_df_aq['Chigh'][(master_preprocessed_df_aq['C'] >= 12.1) & (master_preprocessed_df_aq['C'] <= 35.4)] = 35.4
master_preprocessed_df_aq['Chigh'][(master_preprocessed_df_aq['C'] >= 35.5) & (master_preprocessed_df_aq['C'] <= 55.4)] = 55.4
master_preprocessed_df_aq['Chigh'][(master_preprocessed_df_aq['C'] >= 55.5) & (master_preprocessed_df_aq['C'] <= 150.4)] = 150.4
master_preprocessed_df_aq['Chigh'][(master_preprocessed_df_aq['C'] >= 150.5) & (master_preprocessed_df_aq['C'] <= 250.4)] = 250.4
master_preprocessed_df_aq['Chigh'][(master_preprocessed_df_aq['C'] >= 250.5) & (master_preprocessed_df_aq['C'] <= 350.4)] = 350.4

In [35]:
# Set a default value for Clow
master_preprocessed_df_aq['Ilow'] = 401
master_preprocessed_df_aq['Ilow'][(master_preprocessed_df_aq['C'] >= 0) & (master_preprocessed_df_aq['C'] <= 12)] = 0
master_preprocessed_df_aq['Ilow'][(master_preprocessed_df_aq['C'] >= 12.1) & (master_preprocessed_df_aq['C'] <= 35.4)] = 51
master_preprocessed_df_aq['Ilow'][(master_preprocessed_df_aq['C'] >= 35.5) & (master_preprocessed_df_aq['C'] <= 55.4)] = 101
master_preprocessed_df_aq['Ilow'][(master_preprocessed_df_aq['C'] >= 55.5) & (master_preprocessed_df_aq['C'] <= 150.4)] = 151
master_preprocessed_df_aq['Ilow'][(master_preprocessed_df_aq['C'] >= 150.5) & (master_preprocessed_df_aq['C'] <= 250.4)] = 201
master_preprocessed_df_aq['Ilow'][(master_preprocessed_df_aq['C'] >= 250.5) & (master_preprocessed_df_aq['C'] <= 350.4)] = 301

In [36]:
# Set a default value for Clow
master_preprocessed_df_aq['Ihigh'] = 500
master_preprocessed_df_aq['Ihigh'][(master_preprocessed_df_aq['C'] >= 0) & (master_preprocessed_df_aq['C'] <= 12)] = 50
master_preprocessed_df_aq['Ihigh'][(master_preprocessed_df_aq['C'] >= 12.1) & (master_preprocessed_df_aq['C'] <= 35.4)] = 100
master_preprocessed_df_aq['Ihigh'][(master_preprocessed_df_aq['C'] >= 35.5) & (master_preprocessed_df_aq['C'] <= 55.4)] = 150
master_preprocessed_df_aq['Ihigh'][(master_preprocessed_df_aq['C'] >= 55.5) & (master_preprocessed_df_aq['C'] <= 150.4)] = 200
master_preprocessed_df_aq['Ihigh'][(master_preprocessed_df_aq['C'] >= 150.5) & (master_preprocessed_df_aq['C'] <= 250.4)] = 300
master_preprocessed_df_aq['Ihigh'][(master_preprocessed_df_aq['C'] >= 250.5) & (master_preprocessed_df_aq['C'] <= 350.4)] = 400

In [54]:
#master_preprocessed_df_aq

In [38]:
#calculating AQI index 
#formula reference 
#https://en.wikipedia.org/wiki/Air_quality_index

master_preprocessed_df_aq['AQI'] = ((master_preprocessed_df_aq['Ihigh'] - master_preprocessed_df_aq['Ilow']) / master_preprocessed_df_aq['Chigh'] - master_preprocessed_df_aq['Clow']) * (master_preprocessed_df_aq['C'] - master_preprocessed_df_aq['Clow']) + master_preprocessed_df_aq['Ilow']
master_preprocessed_df_aq['AQI'] = master_preprocessed_df_aq['AQI'].astype(int)

In [39]:
#Set AQI category

master_preprocessed_df_aq['AQI_category'] = "Hazardous"
master_preprocessed_df_aq['AQI_category'][(master_preprocessed_df_aq['AQI'] >= 0) & (master_preprocessed_df_aq['AQI'] <= 50)] = "Good"
master_preprocessed_df_aq['AQI_category'][(master_preprocessed_df_aq['AQI'] >= 51) & (master_preprocessed_df_aq['AQI'] <= 100)] = "Moderate"
master_preprocessed_df_aq['AQI_category'][(master_preprocessed_df_aq['AQI'] >= 101) & (master_preprocessed_df_aq['AQI'] <= 150)] = "Unhealthly forSensitive Groups"
master_preprocessed_df_aq['AQI_category'][(master_preprocessed_df_aq['AQI'] >= 151) & (master_preprocessed_df_aq['AQI'] <= 200)] = "Unhealthly"
master_preprocessed_df_aq['AQI_category'][(master_preprocessed_df_aq['AQI'] >= 201) & (master_preprocessed_df_aq['AQI'] <= 300)] = "Very Unhealthly"

In [40]:
master_preprocessed_df_aq.iloc[2200]

NO2                            0.02
CO                             0.16
O3                                0
NO                            0.007
PM2.5                           0.4
PM10                           10.1
Air Temp                       28.1
Air Hum                        94.7
Air Pres                     1014.9
Timestamp       2020-08-25 12:40:22
Year                           2020
Month                             8
Day                              25
Dayofweek                   Tuesday
Hour                             12
Minute                           40
Second                           22
C                               0.4
Clow                              0
Chigh                            12
Ilow                              0
Ihigh                            50
AQI                               1
AQI_category                   Good
Name: 2200, dtype: object

In [41]:
master_preprocessed_df_aq.head()

,NO2,CO,O3,NO,PM2.5,PM10,Air Temp,Air Hum,Air Pres,Timestamp,...,Hour,Minute,Second,C,Clow,Chigh,Ilow,Ihigh,AQI,AQI_category
0,0.035,0.162,-0.001,0.004,0.2,5.1,27.8,91.6,1014.2,2020-08-24 00:00:22,...,0,0,22,0.246667,0.0,12.0,0,50,1,Good
1,0.035,0.16,-0.001,0.004,0.2,4.8,27.8,91.2,1014.1,2020-08-24 00:01:06,...,0,1,6,0.246667,0.0,12.0,0,50,1,Good
2,0.034,0.157,-0.001,0.004,0.2,4.8,27.8,91.2,1014.1,2020-08-24 00:02:07,...,0,2,7,0.246667,0.0,12.0,0,50,1,Good
3,0.034,0.154,-0.001,0.005,0.2,4.8,27.8,92,1014.1,2020-08-24 00:03:05,...,0,3,5,0.246667,0.0,12.0,0,50,1,Good
4,0.034,0.153,0,0.005,0.2,4.8,27.8,92.9,1014.1,2020-08-24 00:04:06,...,0,4,6,0.246667,0.0,12.0,0,50,1,Good

# Importing Student Enrollment Data

In [42]:
df1 = pd.read_excel('Weekly student attendance (1).xlsx')
df1.head(3)

  Dayofweek      Time  Total Time_12hr  Hour
0    Monday  08:00:00     31      8 AM     8
1    Monday  09:00:00    122      9 AM     9
2    Monday  10:00:00    142     10 AM    10

In [43]:
merged_airquality_student_enroll_df = master_preprocessed_df_aq.merge(df1, on=['Dayofweek', 'Hour'])

In [44]:
merged_airquality_student_enroll_df.iloc[660]

NO2                           0.024
CO                            0.048
O3                            0.003
NO                            0.009
PM2.5                           0.2
PM10                            4.9
Air Temp                       27.4
Air Hum                        98.7
Air Pres                     1013.5
Timestamp       2020-08-24 11:00:23
Year                           2020
Month                             8
Day                              24
Dayofweek                    Monday
Hour                             11
Minute                            0
Second                           23
C                               0.2
Clow                              0
Chigh                            12
Ilow                              0
Ihigh                            50
AQI                               0
AQI_category                   Good
Time                       11:00:00
Total                           191
Time_12hr                     11 AM
Name: 660, dtype: object

In [45]:
merged_airquality_student_enroll_df.drop(['Time_12hr','Time'], axis=1, inplace=True)

In [46]:
merged_airquality_student_enroll_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6621 entries, 0 to 6620
Data columns (total 25 columns):
NO2             6621 non-null object
CO              6621 non-null object
O3              6621 non-null object
NO              6621 non-null object
PM2.5           6621 non-null float64
PM10            6621 non-null object
Air Temp        6621 non-null object
Air Hum         6621 non-null object
Air Pres        6621 non-null object
Timestamp       6621 non-null datetime64[ns]
Year            6621 non-null int64
Month           6621 non-null int64
Day             6621 non-null int64
Dayofweek       6621 non-null object
Hour            6621 non-null int64
Minute          6621 non-null int64
Second          6621 non-null int64
C               6621 non-null float64
Clow            6621 non-null float64
Chigh           6621 non-null float64
Ilow            6621 non-null int64
Ihigh           6621 non-null int64
AQI             6621 non-null int32
AQI_category    6621 non-null object
Total           6621 non-null int64
dtypes: datetime64[ns](1), float64(4), int32(1), int64(9), object(10)
memory usage: 1.3+ MB

In [48]:
#merged_airquality_student_enroll_df.to_csv ('AirQuality Week 1-16/week_1_df_aq.csv', index = False, header=True)

# 5) Storing Final Master Dataframe into Local MySQL database configured on MySQL Workbench

In [186]:
# import the module
from sqlalchemy import create_engine

# create sqlalchemy engine
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw="",
                               db="AirQuality"))

In [187]:
merged_airquality_student_enroll_df.to_sql('AQ_data', con = engine, if_exists = 'append', chunksize = 10000)

# Consolidating Fall 2020 Student Enrollment data and Air Quality data

In [2]:
import os

path = "C:/Users/HP/Downloads/AirQuality Week 1-16"
os.chdir(path)

In [12]:
df_week1 = pd.read_csv('week_1_df_aq.csv')
df_week2 = pd.read_csv('week_2_df_aq.csv')
df_week3 = pd.read_csv('week_3_df_aq.csv')
df_week4 = pd.read_csv('week_4_df_aq.csv')
df_week5 = pd.read_csv('week_5_df_aq.csv')
df_week6 = pd.read_csv('week_6_df_aq.csv')
df_week7 = pd.read_csv('week_7_df_aq.csv')
df_week8 = pd.read_csv('week_8_df_aq.csv')

In [13]:
df_week9 = pd.read_csv('week_9_df_aq.csv')
df_week10 = pd.read_csv('week_10_df_aq.csv')
df_week11 = pd.read_csv('week_11_df_aq.csv')
df_week12 = pd.read_csv('week_12_df_aq.csv')
df_week13 = pd.read_csv('week_13_df_aq.csv')
df_week14 = pd.read_csv('week_14_df_aq.csv')
df_week15 = pd.read_csv('week_15_df_aq.csv')
df_week16 = pd.read_csv('week_16_df_aq.csv')

In [23]:
print("1", len(df_week1))
print("2", len(df_week2))
print("3", len(df_week3))
print("4", len(df_week4))
print("5", len(df_week5))
print("6", len(df_week6))
print("7", len(df_week7))
print("8", len(df_week8))
print("9", len(df_week9))
print("10", len(df_week10))
print("11", len(df_week11))
print("12", len(df_week12))
print("13", len(df_week13))
print("14", len(df_week14))
print("15", len(df_week15))
print("16", len(df_week16))

total_length = len(df_week1) + len(df_week2) + len(df_week3) +len(df_week4) + len(df_week5) + len(df_week6) + len(df_week7) + len(df_week8) + len(df_week9) + len(df_week10) + len(df_week11) + len(df_week12) + len(df_week13) + len(df_week14) + len(df_week15) + len(df_week16)

print("total length", total_length)

1 6621
2 6767
3 7200
4 7185
5 7200
6 7200
7 7200
8 7200
9 7180
10 7200
11 7200
12 7200
13 7200
14 7200
15 7200
16 7200
total length 114153

In [24]:
master_df_fall_20 = pd.concat([df_week1, df_week2, df_week3, df_week4, 
                               df_week5, df_week6, df_week7, df_week8, 
                               df_week9, df_week10, df_week11, df_week12,
                               df_week13, df_week14, df_week15, df_week16], ignore_index=True)

In [27]:
print("length master dataframe", len(master_df_fall_20))

length master dataframe 114153

In [28]:
master_df_fall_20.head(5)

,NO2,CO,O3,NO,PM2.5,PM10,Air Temp,Air Hum,Air Pres,Timestamp,...,Minute,Second,C,Clow,Chigh,Ilow,Ihigh,AQI,AQI_category,Total
0,0.035,0.162,-0.001,0.004,0.2,5.1,27.8,91.6,1014.2,2020-08-24 00:00:22,...,0,22,0.246667,0.0,12.0,0,50,1,Good,0
1,0.035,0.160,-0.001,0.004,0.2,4.8,27.8,91.2,1014.1,2020-08-24 00:01:06,...,1,6,0.246667,0.0,12.0,0,50,1,Good,0
2,0.034,0.157,-0.001,0.004,0.2,4.8,27.8,91.2,1014.1,2020-08-24 00:02:07,...,2,7,0.246667,0.0,12.0,0,50,1,Good,0
3,0.034,0.154,-0.001,0.005,0.2,4.8,27.8,92.0,1014.1,2020-08-24 00:03:05,...,3,5,0.246667,0.0,12.0,0,50,1,Good,0
4,0.034,0.153,0.000,0.005,0.2,4.8,27.8,92.9,1014.1,2020-08-24 00:04:06,...,4,6,0.246667,0.0,12.0,0,50,1,Good,0

In [30]:
master_df_fall_20.columns

Index(['NO2', 'CO', 'O3', 'NO', 'PM2.5', 'PM10', 'Air Temp', 'Air Hum',
       'Air Pres', 'Timestamp', 'Year', 'Month', 'Day', 'Dayofweek', 'Hour',
       'Minute', 'Second', 'C', 'Clow', 'Chigh', 'Ilow', 'Ihigh', 'AQI',
       'AQI_category', 'Total'],
      dtype='object')

In [34]:
master_df_fall_20.to_csv ('master_df_fall_20.csv', index = False, header=True)

In [ ]:
#Dashboard Link

#https://public.tableau.com/profile/shreyas4686#!/vizhome/Air_Quality_Index_Fall_Semester_First_Week/Dashboard1?publish=yes
#https://public.tableau.com/profile/shreyas4686#!/vizhome/AQIIndex_Student_Enrollment/Dashboard1?publish=yes

# DDL for Database and Dashboard link

In [ ]:
#DDL FOR DATABASE 

'''
CREATE DATABASE AIR_QUALITY

CREATE TABLE `aq_data` (
  `index` int NOT NULL,
  `NO2` double DEFAULT NULL,
  `CO` double DEFAULT NULL,
  `O3` double DEFAULT NULL,
  `NO` double DEFAULT NULL,
  `PM2.5` double DEFAULT NULL,
  `PM10` double DEFAULT NULL,
  `Air Temp` double DEFAULT NULL,
  `Air Hum` double DEFAULT NULL,
  `Air Pres` double DEFAULT NULL,
  `Timestamp` datetime(6) DEFAULT NULL,
  `Year` int DEFAULT NULL,
  `Month` int DEFAULT NULL,
  `Day` int DEFAULT NULL,
  `C` float DEFAULT NULL,
  `Clow` float DEFAULT NULL,
  `Chigh` float DEFAULT NULL,
  `Ilow` float DEFAULT NULL,
  `Ihigh` float DEFAULT NULL,
  `AQI` float DEFAULT NULL,
  `AQI_Category` varchar(40) DEFAULT NULL,
  `hour` int DEFAULT NULL,
  `minute` int DEFAULT NULL,
  `second` int DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci

'''

# Rough Work

In [ ]:
'''#Gnerating Rolling Index Mean to find the 'C value'
ptr = 0
ptr2 = 0
master_preprocessed_df_aq = pd.DataFrame()
master_preprocessed_df_aq = master_preprocessed_df_aq.iloc[0:0]

for i in range(0,air_quality_filtered_df.day.nunique()): 
    
    day_ini = air_quality_filtered_df.day[ptr] #extracting unique day count
    n_window = (air_quality_filtered_df.day == day_ini).sum() #extracting number of rows assciating with that specific day 
    
    cal_window_df = air_quality_filtered_df[ptr:ptr+n_window] 
        
    for j in range(0,cal_window_df.hour.nunique()):
      
        minute_ini = cal_window_df.hour[ptr2] #extracting unique hour count
        n_window_min = (cal_window_df.hour == minute_ini).sum()
        print(ptr2)
        window_min_df = cal_window_df[ptr2:ptr2+n_window_min] 
        ptr2 = ptr2 + n_window_min
        mean_c_min = window_min_df["PM2.5"].mean() 
        window_min_df['C_avg'] = mean_c_min
        
        master_preprocessed_df_aq = master_preprocessed_df_aq.append(window_min_df, ignore_index = True) 
        window_min_df = window_min_df.iloc[0:0]
        
    cal_window_df = cal_window_df.iloc[0:0]
    ptr = ptr + n_window
  '''